* {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex  ;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: slateblue;
}

.menu {
    display: flex;
    gap: 25px;
    margin-left: auto;
}
.link-navbar {
    text-decoration: none;
    color: rgba(93, 7, 130, 0.533);
    font-size: 18px;
}